/ExtraEditMod/ExtraEditMod/obj
/ExtraEditMod/ExtraEditMod/bin
/ILModIWriter/ILModWriter/obj
/ILModIWriter/ILModWriter/bin
/ExtraEditMod/.vs/ExtraEditMod/v15/Server/sqlite3/db.lock
/ExtraEditMod/.vs/ExtraEditMod/v15/Server/sqlite3/storage.ide
/ReadMeWriter
